body {
  font-family: 'Urbanist', sans-serif;
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0 auto;
}

input {
  font-family: 'Urbanist', sans-serif;
  border: none;
  outline: none;
  line-height: normal;
}

span,
p {
  font-family: 'Urbanist', sans-serif;
  line-height: normal;
}

button {
  font-family: 'Urbanist', sans-serif;
  outline: none;
  border: none;
  background-color: transparent;
}
